   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   html,
   body {
       width: 100%;
       height: 100%;
       overflow: hidden;
   }

   .flex {
       display: flex;
   }

   .flex-1 {
       flex: 1;
   }

   .flex-col {
       flex-direction: column;
   }

   pre {
       width: 200px;
       min-width: 10vw;
       flex: auto;
       overflow-y: auto;
       overflow-x: hidden;
       word-break: break-all;
       white-space: pre-line;
       line-height: 1.5;
       padding: 0 0.5em;
   }

   textarea {
       resize: none;
   }

   canvas {
       display: block;
       width: 100%;
       aspect-ratio: 16 / 9;
       border: 1px dashed;
       border-radius: 10px;
   }